body {padding:0}
#header {padding-bottom:20px}

#screen {padding:10px 10px 10px 0}
#sidebar {padding:4px}
.miniphotos img {padding:0 2px}

h1, h2 {padding:0}

p {padding-right:10px;padding:left:4px}
p.miniphotos {padding-top:4px}

.date {padding:0}
.entry h2 {padding:0}

a:link {padding:.2em}
a:visited {padding:.2em}
a:focus, a:hover, a:active {padding:.2em}

