
h1 {font: bold 1.8em/1em "comic sans", "verdana", sans-serif;white-space:nowrap}
p {font-size:.9em}
.rightsidebar {width:200px; float: right;}

.caption {font-size:.8em;font-style:italic;font-family:"verdana", sans-serif}