h1, h2 {font-family: "Arial Black", "Helvetica Bold", sans-serif;font-weight: normal}
h1 {font-size: 1.25em}
h2 {font-size: .875em}

p {font-family: "Verdana", "Helvetica", sans-serif; font-size:75%}
.emph {font-style: italic; font-weight:bold}

a:link, a:hover {font-weight:bold}

#toc {font-size:75%}